/* Group project */
body{
    margin: 0px;
    background-color: rgb(78, 78, 78);
    background-size:contain ;
    color: rgb(228, 220, 152);
    font-size: 20px;
    font-weight: bolder;
   }

   nav{
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding: 10px;
}
nav li{
    list-style-type: none;
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#mainheading{
    justify-content: center;
    display: flex;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.hidden-list {
    display: none;
  }

  /* Display the list when the corresponding link is targeted */
  .hidden-list:target {
    display: block;
  }

  .footer-nav li{
    list-style-type: none;
}
.footer-nav li a{
    text-decoration: none;
    color: aliceblue;
}

.footer-left{
    padding:3%;
    text-align: center;
    display: inline-block;
}

.footer-center{
    padding:3%;
    text-align: center;
    display: inline-block;
}
.footer-right{
    padding:3%;
    text-align: center;
    display: inline-block;
}


  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 460px) {
    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    .footer-content{
        display: block;
        justify-content: center;
        margin: 5%;
    }
    nav li{
        list-style-type: none;
        display: block;
    } 
    #famous-food{
        display: block;
        justify-content: center;
    }
    .dish-image{
        display: inline;
        width: 60%;
    }
    #famous-dish{
        display: inline;
        text-align: end;
    }
    #food-content{
        text-align: start;
        margin-right: 10%;
        padding-left: 5%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    .footer-content{
        display: flex;
        justify-content: space-between;
        margin: 5%;
    }
nav li{
    list-style-type: none;
    display: inline;
}

#famous-food{
    display: flex;
    justify-content: center;
}
.dish-image{
    display: inline;
    width: 50%;
}
#famous-dish{
    display: inline;
    text-align: end;
}
#food-content{
    text-align: start;
    margin-right: 10%;
    padding-left: 5%;
}
  } 
  

  