/* Group project */
#subscribe-content{
    background: linear-gradient(6deg, rgba(146, 138, 138, 0.5) 0%, rgba(52, 51, 41, 0.6) 100%);
    padding: 10%;
}
input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
  }
button {
    background-color: rgb(190, 190, 3);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .info-box a{
     text-decoration: none;
     color: rgb(226, 222, 228);
  }

   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (max-width: 768px) {
    #about-details{
        display: block;
        justify-content: space-between;
       }
    
   .info-box{
        border: 2px solid rgb(81, 86, 80);
        background-color: rgb(81, 86, 80);
        padding: 13%;
        margin: 5%;
        width: 60%;
        border-radius: 8px;
        display: block;
        justify-content: space-between;
   }
   .icon-image{
        width: 100px;
        padding: 20px;
   }
   #map{
        width: 100%;
        height: 90%;
   }
}


@media only screen and (min-width: 768px) {
    #about-details{
        display: flex;
        justify-content: space-between;
       }
    
   .info-box{
        border: 2px solid rgb(81, 86, 80);
        background-color: rgb(81, 86, 80);
        padding: 20%;
        margin: 0% 5% 5%;
        width: 62%;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
   }
   .icon-image{
        width: 80px;
        padding: 20px;
   }
   #map{
        float:left;
        margin-right: 20px;
        margin-top: 25px;
        width: 100%;
        height: 90%;
   }
}

@media only screen and (min-width: 992px) {
    #about-details{
        display: flex;
        justify-content: space-around;
       }
    .icon-image{
        width: 75px;
       }
    
   .info-box{
        border: 2px solid rgb(81, 86, 80);
        background-color: rgb(81, 86, 80);
        padding: 20%;
        margin: 5%;
        width: 70%;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
   }
   #map{
        width: 450px;
        height: 90%;
   }
}
     