/* Group project */
body{
    margin: 0px;
    background-color: rgb(78, 78, 78);
    background-size:contain ;
    color: rgb(228, 220, 152);
    font-size: 20px;
    font-weight: bolder;
   }
#logo{
    width: 14%;
   }
nav{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    display: block;
}
.active-page{
    color: rgb(190, 190, 3);
    font-size:larger;
    text-shadow: 1px 1px rgb(239, 66, 66);
}
nav ol{
    text-align: center;
}
nav li{
    list-style-type: none;
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: yellow;
    text-shadow: 1px 1px rgb(188, 140, 140);
}
#main-image{
    background: linear-gradient(6deg, rgba(23, 10, 10, 0.5) 0%, rgba(120, 116, 77, 0.6) 100%),url('https://t3.ftcdn.net/jpg/03/07/75/90/240_F_307759003_iyOPUqKa6yy6a6tpUW0BQ4CSt38OMHTv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 12%;
    position: relative;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.heading-center{
    display: flex;
    justify-content: center;
}
.menu-card{
    border: 2px solid rgb(97, 87, 87);
    border-radius: 6px;
    margin: 6px;
}
.menu-card h2{
    background: linear-gradient(6deg, rgba(23, 10, 10, 0.5) 0%, rgba(120, 116, 77, 0.6) 100%),url('https://t3.ftcdn.net/jpg/03/07/75/90/240_F_307759003_iyOPUqKa6yy6a6tpUW0BQ4CSt38OMHTv.jpg');
    padding: 12%;
    margin: 0%;
}
.menu-description{
    padding: 8%;
}
.menu-icon{
    width: 120px;
}
button {
    background-color: rgb(190, 190, 3);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
button a{
    text-decoration: none;
    color: rgb(226, 213, 213);
    text-shadow: 1px 1px rgb(43, 41, 41);
}
#about-description{
    padding: 7%;
    background-color: rgba(61, 56, 56, 0.474);
}
#about-card{
    background: linear-gradient(6deg, rgba(61, 60, 60, 0.5) 0%, rgba(78, 77, 76, 0.6) 100%),url('https://t3.ftcdn.net/jpg/03/07/75/90/240_F_307759003_iyOPUqKa6yy6a6tpUW0BQ4CSt38OMHTv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 5%;
    position: relative;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
#footer-logo{
    width: 100%;
}
footer a{
    text-decoration: none;
    color:rgb(106, 135, 159);
}
.review-card{
    margin:5%;
    border: rgb(212, 205, 205) solid 2px;
    padding:8px;
}
.menu-preview{
    margin:5%;
    padding:8px;
}

footer{
    background-color: rgb(41, 40, 40);
    color:aliceblue;
}

#footer-content{
    font-size: 14px;
}

.footer-nav li{
    list-style-type: none;
}
.footer-nav li a{
    text-decoration: none;
    color: aliceblue;
}

#footer-logo-content{
    padding:1%;
    text-align: center;
    display: inline-block;
}

.footer-left{
    padding:1%;
    text-align: center;
    display: inline-block;
}

.footer-center{
    padding:1%;
    text-align: center;
    display: inline-block;
}
.footer-right{
    padding:1%;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
}


@media only screen and (max-width: 768px) {

    #food-top-row{
        display: block;
        justify-content: space-between;
        margin:4%;
    }
    #food-bottom-row{
        display: block;
        justify-content: space-between;
        margin:4%;
    }
    .dish-image{
        width: 80%;
        margin: 8%;
    }
    #menu-preview{
        display: block;
        justify-content: space-between;
    }
    #menu-block{
        display: block;
    }
    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    #footer-content{
        display: block;
        justify-content: center;
        margin-left: 20%;
    }
    
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        padding:2%;
        text-align: center;
        width: 60%;
        display: inline-block;
    }
    #footer-logo{
        width: 60%;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    nav li{
        list-style-type: none;
        display: block;
    } 
    #logo-content{
        display: flex;
        justify-content: center;
    }
    #logo{
        width: 40%;
    }
    .review-cards {
        grid-template-columns: repeat(1, 1fr);
      }
      .review-box {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .review-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #food-top-row{
        display: flex;
        justify-content: space-between;
        margin:4%;
    }
    #food-bottom-row{
        display: flex;
        justify-content: space-between;
        margin:4%;
    }
    .dish-image{
        width: 25%;
        margin: 3%;
    }

    #menu-preview{
        display: block;
        justify-content: space-between;
    }
    #menu-block{
        display: flex;
    }
    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    #footer-content{
        display: inline-block;
        justify-content: center;
    }
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        padding:2%;
        text-align: center;
        width:30%;
        display: inline-block;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    nav li{
        list-style-type: none;
        display: inline;
    } 
    #logo-content{
        display: block;
        justify-content:left;
    }
    #logo{
        float: left;
        width: 20%;
    }
    .review-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav li{
        list-style-type: none;
         display: inline;
    }
    #logo{
         float: left;
         width: 15%;
        }
    #food-top-row{
        display: flex;
        justify-content: space-between;
        margin:2%;
    }
    #food-bottom-row{
        display: flex;
        justify-content: space-between;
        margin:2%;
    }
    .dish-image{
        width: 26%;
        margin: 3%;
    }
    #menu-preview{
        display: block;
        justify-content: space-between;
    }
    #menu-block{
        display: flex;
        justify-content: center;
    }
    .menu-row{
        display: flex;
    }
    .review-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        text-align: center;
        width: 25%;
        display: inline-block;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
        justify-content: center;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    #footer-content{
        display: flex;
        justify-content: space-between;
    }
    #logo-content{
        display: block;
        justify-content:left;
    }
    #logo{
        float: left;
        width: 13%;
    }
    
  } 
  
  .review-description{
    padding: 8%;
  }
  .review-description h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .review-description p {
    margin-bottom: 1rem;
  }
  
  .review-card {
    display: flex;
    align-items: flex-start;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .review-card img {
    max-width: 75px;
    border-radius: 100%;
    margin-top: 7%;
    margin-left: 3%;
  }
  
  .review-content {
    display: flex;
    gap: 1rem;
  }

  .review-details p {
    font-style: italic;
    margin-bottom: 1rem;
    padding: 4%;
  }
  
  .review-details h4 {
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
  }
  article{
    background: linear-gradient(6deg, rgba(146, 138, 138, 0.5) 0%, rgba(52, 51, 41, 0.6) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 4%;
    position: relative;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }