
#main-heading{
    margin-top: 2%;
    justify-content: center;
    display: flex;

}
#listmenu{
    margin:0% 10% 10%;
    justify-content: center;
}
/* Style the label content */
label{
    margin-left: 3%;
    padding:4% 39%;
    border: 2px;
    
}
/* Style the table content */
table{
    margin-top: 5%;
    margin-bottom: 20px;
    border-collapse: collapse;
    color: rgb(176, 161, 142);
    width: 100%;
    
    
}
.menu-type{
    margin: 2%;
    padding: 5%;
    border-radius: 8px;
    border: 2px solid rgb(99, 98, 98);
}
  #menutype1:checked {
    display: none;
  }
  /* Style the input button  */

  input[type="checkbox"] {
    display: none;
  }
  th, td {
    border: 1px solid #888787;
    padding: 8px;
    text-align: center;
  }

  input[type="checkbox"]:checked + table {
    display: none;
  }
  

@media only screen and (max-width: 768px) {
    .menu-type{
        margin: 2%;
        padding: 5%;
        border-radius: 8px;
        border: 2px solid rgb(99, 98, 98);
    }
      #menutype1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu-type{
        margin: 2%;
        padding: 5%;
        border-radius: 8px;
        border: 2px solid rgb(99, 98, 98);
    }
      #menutype1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu-type{
        margin: 2%;
        padding: 5%;
        border-radius: 8px;
        border: 2px solid rgb(99, 98, 98);
    }
      #menutype1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  } 