/* Group project */
body{
    margin: 0px;
    background-color: rgb(78, 78, 78);
    background-size:contain ;
    color: rgb(228, 220, 152);
    font-size: 20px;
    font-weight: bolder;
   }
#logo{
    width: 14%;
   }
#main-image{
    background: linear-gradient(6deg, rgba(23, 10, 10, 0.5) 0%, rgba(120, 116, 77, 0.6) 100%),url('https://t3.ftcdn.net/jpg/03/07/75/90/240_F_307759003_iyOPUqKa6yy6a6tpUW0BQ4CSt38OMHTv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 12%;
    position: relative;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.menu-table {
    display: none;
}
#starters-box{
    background-image: url(https://t3.ftcdn.net/jpg/03/07/75/90/240_F_307759003_iyOPUqKa6yy6a6tpUW0BQ4CSt38OMHTv.jpg);
    padding: 30px 40px 70px;
    color: rgb(128, 21, 21);
    text-decoration: none;
    margin: 0px;
}
.expand-btn{
    border: 4px solid red ;
    margin: 5% 15% 0%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.menu {
    background-color: #fff;
    padding: 20px;
}

.menu-item {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.hidden-list {
    display: none;
  }

  /* Display the list when the corresponding link is targeted */
  .hidden-list:target {
    display: block;
  }


  #list1:checked {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  input[type="checkbox"]:checked + table {
    display: none;
  }
  
nav{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    display: block;
}
.active-page{
    color: rgb(190, 190, 3);
    font-size:larger;
    text-shadow: 1px 1px rgb(239, 66, 66);
}
nav ol{
    text-align: center;
}
nav li{
    list-style-type: none;
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: yellow;
    text-shadow: 1px 1px rgb(188, 140, 140);
}
#footer-logo{
    width: 100%;
   }
footer a{
    text-decoration: none;
    color:rgb(106, 135, 159);
}

footer{
    background-color: rgb(41, 40, 40);
    color:aliceblue;
}

#footer-content{
    font-size: 14px;
}

.footer-nav li{
    list-style-type: none;
}
.footer-nav li a{
    text-decoration: none;
    color: aliceblue;
}

#footer-logo-content{
    padding:1%;
    text-align: center;
    display: inline-block;
}

.footer-left{
    padding:1%;
    text-align: center;
    display: inline-block;
}

.footer-center{
    padding:1%;
    text-align: center;
    display: inline-block;
}
.footer-right{
    padding:1%;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
}


@media only screen and (max-width: 768px) {

    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    #footer-content{
        display: block;
        justify-content: center;
        margin-left: 20%;
    }
    
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        padding:2%;
        text-align: center;
        width: 60%;
        display: inline-block;
    }
    #footer-logo{
        width: 60%;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    nav li{
        list-style-type: none;
        display: block;
    } 
    #logo-content{
        display: flex;
        justify-content: center;
    }
    #logo{
        width: 40%;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    footer{
        background-color: rgb(41, 40, 40);
        color:aliceblue;
        }
    #footer-content{
        display: inline-block;
        justify-content: center;
    }
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        padding:2%;
        text-align: center;
        width:30%;
        display: inline-block;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    nav li{
        list-style-type: none;
        display: inline;
    } 
    #logo-content{
        display: block;
        justify-content:left;
    }
    #logo{
        float: left;
        width: 20%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav li{
        list-style-type: none;
         display: inline;
    }
    #logo{
         float: left;
         width: 15%;
        }
    article{
        display: flex;
        justify-content: space-between;
    }
    #food-top-row{
        display: flex;
        justify-content: space-between;
        margin:2%;
    }
    #food-bottom-row{
        display: flex;
        justify-content: space-between;
        margin:2%;
    }
    .footer-left{
        padding:2%;
        text-align: center;
        display: inline-block;
    }

    #footer-logo-content{
        text-align: center;
        width: 25%;
        display: inline-block;
    }
    .footer-center{
        padding:2%;
        text-align: center;
        display: inline-block;
        justify-content: center;
    }
    .footer-right{
        padding:2%;
        text-align: center;
        display: inline-block;
    }
    #footer-content{
        display: flex;
        justify-content: space-between;
    }
    #logo-content{
        display: block;
        justify-content:left;
    }
    #logo{
        float: left;
        width: 13%;
    }
  } 