/* Group project */
#main-heading{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#menu-list{
    margin:0% 10% 10%;
    justify-content: center;
}
label{
    padding:4% 39%;
    border: 2px;
    margin-left: 3%;
}
table{
    color: rgb(176, 161, 142);
    margin-top: 5%;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.menu-type{
    padding: 5%;
    margin: 2%;
    border: 2px solid rgb(99, 98, 98);
    border-radius: 8px;
}
  #list1:checked {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  th, td {
    border: 1px solid #888787;
    padding: 8px;
    text-align: center;
  }

  input[type="checkbox"]:checked + table {
    display: none;
  }
  

@media only screen and (max-width: 768px) {
    .menu-type{
        padding: 5%;
        margin: 2%;
        border: 2px solid rgb(99, 98, 98);
        border-radius: 8px;
    }
      #list1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu-type{
        padding: 5%;
        margin: 2%;
        border: 2px solid rgb(99, 98, 98);
        border-radius: 8px;
    }
      #list1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu-type{
        padding: 5%;
        margin: 2%;
        border: 2px solid rgb(99, 98, 98);
        border-radius: 8px;
    }
      #list1:checked {
        display: none;
      }
      input[type="checkbox"] {
        display: none;
      }
      th, td {
        border: 1px solid #888787;
        padding: 8px;
        text-align: center;
      }
    
      input[type="checkbox"]:checked + table {
        display: none;
      }
  } 